 
<div class="scrollable" ng-controller="MainCtrl" > 
<div ng-show="loading" class="loading"></div>
<div class="scrollable-content col-xs-12 "><br>
<p>iindia is a full featured mobile apps developed by Anema Softwares Inc.
it offers Latest News, classifieds, jobs, govrnment jobs, live weather information, live cricket scors and much much more.
this is only application who provide you to directly post your own news, classifieds ads and jobs.
<br>

<b>Features: </b><br>
<ul>
<li>It uses minimum amount of internet data.</li>
<li>Easy navigation to move around in app.</li>
<li>Lowest bettery consumption.</li>
<li>Free Classified buy/sale/service Listing</li>
<li>Simple and clean interface</li>
<li>Available for Android, Windows and Iphone</li>
<li>Support both Tablets and Smartphones</li>

</ul>

<b>News: </b> View latest news and events in your city. we cover Ahmedabad, Bhopal, Delhi, Gwalior,Indore, Jaipur, Khargone, Lucknow, Mumbai, Neemuch and Pune and planning to cover more cities very soon.
<br>
<br>
<b>Jobs: </b> Now find your desired job in your city and apply with one click. applying for job is simple, just complete your profile and click on "Apply for this job", your profile will be sent to  company.
<br>
<br>

<b>Govt Jobs: </b> View latest Govt. jobs and stay updated. 
<br>
<br>

<b>Weather: </b> Iindia provides you a detailed and live weather information of your city. also this app provides 5 days forcast for weather conditions.
<br>
<br>

<b>Live Cricket Score: </b>Get ball by ball cricket scores of live matches. click on live score and select your match to get full details.














 </p>
For any further assistance or your valuable Feedback please call us:
<br>
We are happy to hear you.
<br>
<br>
<b>Developed by</b> Anema Softwares Inc

<br>Website : http://anemaindia.com 
<br>Email : sales@anemaindia.com
<br>Contact: 7566146228, 0731-4025289


<a href="http://cdn.anemaindia.com/apps/iindia/cdn/i/Design/qrcode.png"><img src="http://cdn.anemaindia.com/apps/iindia/cdn/i/Design/qrcode.png"></a>



</div>
</div>



