<div class="scrollable" ng-controller="JobsDetailController" > <div ng-show="loading" class="loading"></div>
 
<div class="scrollable-content ">
<div class="col-xs-12 Newsdetail" ng-repeat="x in Job">sdfsdfsdf
<h3><b class="title">{{x.Title}}</b></h3>
<!-- <a href="{{x.Img}}"><img src="{{x.Img}}" class=" fit thu mbnail"></a> -->
<p class="text-justify">Detail: {{x.Description}}</p>
<br>
<p class="">Salary: {{x.Salary}}</p>
<p class="">Posting City: {{x.City}}</p>
<p class="">Experience: {{x.Experience}}</p>
<p class="">Role: {{x.Role}}</p>
<p class="">Skills: {{x.Skills}}</p>
<p class="">Email: {{x.Email}}</p>
<p class="">Vacancy: {{x.Vacancy}}</p>
<p class="">Qualification: {{x.Qualification}}</p>
<p class="">CandidateProfile: {{x.CandidateProfile}}</p>
<p class="">Keyword: {{x.Keyword}}</p>
<p class="text-justify">{{x.Tag}}</p>
<b>Last Updated on : {{x.LastUpdated*1000 | date:'h:m a'}} <span> {{x.LastUpdated*1000 | date:'dd/MM/yyyy'}}</span></b>

<hr>
<div class="form-group">
<button class="btn btn-danger" ng-click="ApplyForJobSubmit()">Apply for This Job</button> 
</div>
<div class="clearfix"></div>
{{ApplyForJobResponse}}
<hr>
<h3>Company Detail</h3>
<div class="companyinfo"  ng-repeat="Company in JobCompany">
<p class="">Company Name: {{Company.CompanyName}}</p>
<p class="">Sector: {{Company.Sector}}</p>
<p class="">About: {{Company.About}}</p>
<p class="">Address: {{Company.Address}}</p>
<p class="">City: {{Company.City}}</p>
<p class="">Person: {{Company.Person}}</p>
<p class="">Phone: {{Company.Phone}}</p>
<p class="">Email: {{Company.Email}}</p>
<p class="">Website: {{Company.Website}}</p>
  

</div>
</div>
 
 
</div>
</div>
 
  