<div class="scrollable">
<h1 class="scrollable-header scrollable-header-left app-name"><img src="cli/logo.png" style="width:130px;"></h1>  
<div class="scrollable-content scrollable-content-left left-nav">
<div class="sidebarprofile">
<div class="row">
 
<div class="clearfix"></div>
</div>

<div class="list-group" ui-turn-off='sidebarLeft'>
<a class="list-group-item" href="#/Home/{{iCity}}"><i class="sidebarmenuicon fa fa-home"></i>Home <i class="fa fa-chevron-right pull-right"></i></a>
<a class="list-group-item" href="#/News/"><i class="sidebarmenuicon fa fa-rss"></i>News <i class="fa fa-chevron-right pull-right"></i></a>
<a class="list-group-item" href="#/Jobs"><i class="sidebarmenuicon fa fa-graduation-cap"></i>Jobs <i class="fa fa-chevron-right pull-right"></i></a>
<a class="list-group-item" href="#/GovtJobs"><i class="sidebarmenuicon fa fa-institution"></i>Govt. Jobs <i class="fa fa-chevron-right pull-right"></i></a>
<a class="list-group-item" href="#/Classified"><i class="sidebarmenuicon fa fa-rupee"></i>Buy/Sell/Rent <i class="fa fa-chevron-right pull-right"></i></a>
<a class="list-group-item" href="#/Cricket"><i class="sidebarmenuicon fa fa-futbol-o"></i>Live Cricket Score <i class="fa fa-chevron-right pull-right"></i></a>

<a class="list-group-item" href="#/Weather"><i class="sidebarmenuicon fa fa-bolt"></i>Weather <i class="fa fa-chevron-right pull-right"></i></a>

<a class="list-group-item" href="#/Jokes"><i class="sidebarmenuicon fa fa-smile-o"></i>Jokes <i class="fa fa-chevron-right pull-right"></i></a>
<a class="list-group-item" href="#/Quotes"><i class="sidebarmenuicon fa fa-thumbs-o-up"></i>Quotes <i class="fa fa-chevron-right pull-right"></i></a>

<a class="list-group-item" href="#/About"><i class="sidebarmenuicon fa fa-user"></i>About <i class="fa fa-chevron-right pull-right"></i></a>
 
</div>
</div>
</div>
